@media only screen and (max-width: 600px) {
    #wx {
      margin-left:5vw;
      max-width: 80vw;
    }
  }

html { scroll-behavior: smooth; }

.asap-font {
    font-family: 'Asap', sans-serif;
}

.fira-font {
    font-family: 'Fira Code', sans-serif;
    font-size: 85%;
}

a.white-hover:link {
    color: black;
    text-decoration: none;
}

a.white-hover:visited {
    color: black;
    text-decoration: none;
}

a.white-hover:hover {
    color: white;
    text-decoration: none;
}

a.white-hover:active {
    color: white;
    text-decoration: none;
}

.sm-indication {
    font-size: small;
}

.fix-broken-table1 {
    width: 22%;
    text-align: center;
}

.fix-broken-table2 {
    width: 26%;
    text-align: center;
}

.fix-broken-table3 {
    width: 26%;
    text-align: center;
}


.table-explan {
    font-size: small;
}

.formatting{
    list-style: none;
    padding: 0;
    border: none;
}

.text-center{
    text-align: center;
}

.centered {
    float:none;
    margin:0 auto;
    display: block;
    text-align: center;
}

.hidden {
    visibility: hidden;
}

.remove {
    display:none !important;
    visibility: collapse;
}

.seen {
    visibility: visible;
}

.table-header {
    border-collapse: collapse;
}

.spinner-grow {
    display: inline-flex;
    width: 10rem;
    height: 10rem;
    margin-top: 10rem;
}

mark {
    background-color: #2e67b1;
    color: white;
    padding: 0.11em 0.25em;
    border-radius: 0.5em;
}


[contenteditable=true]:empty:before{
    content:attr(data-ph);
    color:#576574;
    opacity: 50%;
    font-size: smaller;
  }

.headwind {
    background: rgba(29,209,161, 0.3)
}

.tailwind {
    background: rgba(254,202,87, 0.3);
}

.tailwind_strong {
    background: rgba(255,107,107, 0.6);
}

.crosswind_medium {
    background: rgba(254,202,87, 0.3)
}

.crosswind_strong {
    background: rgba(255,107,107, 0.6);
}

#footer {
    position: relative;
    bottom: 5%;
    font-size: x-small;
    text-align: center;
}

#about {
    padding: 0em 10em;
    font-size: small;
}

#chart-img {
    width: 100%;
    margin: 0 auto;
}

.modal-title {
    text-align: left;
}

#crfi_link {
    color: black;
    text-decoration: underline;
}

.rwy_list {
    background-color: #666666;
    color: white;
    font-weight: 900;
}

#wx_type{
    vertical-align: middle;
    font-size: smaller;
}



#backtotop {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    background: white;
    color: black;
    cursor: pointer;
    padding: 18px 16px 0 16px;
    border-radius: 10px;
    font-size: 30px;
    font-family: 'Fira Code', sans-serif;
    box-shadow: 0px 0px 5px grey;
    transition: 0.3s;

}

#backtotop:hover {
    background-color: #555; /* Add a dark-grey background on hover */
    color: white;
}

#w-direction {
    vertical-align: middle;
}

#w-strength {
    vertical-align: middle;
}

#previous {
    border-radius: 10px;
    border: none;
    box-shadow: 0px 0px 5px lightgrey;
    padding: 10px;
}

#previous:hover {
    border: none;
    box-shadow: 0px 0px 7px grey;
    padding: 10px;
    border-radius: 10px;
}


#next {
    border-radius: 10px;
    border: none;
    box-shadow: 0px 0px 5px lightgrey;
    padding: 10px;
}

#next:hover {
    border: none;
    box-shadow: 0px 0px 7px grey;
    padding: 10px;
    transition: 0.3s;
}