{% extends "layout.html" %}
{% set active_page = "about" %}

{% block title %}
: About
{% endblock %}

{% block main %}
<div class="container">  
<div class="row">
    <div class="col-12" id="about">
        <br><br>
        <h6>v0.11</h6>
        - Added beta testing of USA and International notams.<br>
          (Next to be added will be notam keyword highlighting and filtering)
        <br><br>
        <h6>v0.10</h6>
        - Fixed underlying issues preventing other functionalities to be added in the future. <br>
        - Added option for user registration. Users can now register by clicking the Register button at the top right. <br>
          (New functionalities will soon be added requiring users to be registered.)<br>
        <br><br>
        <h6>v0.9</h6>
        - Fixed RSC/CRFI bug on main app page <br>
        - Removed beta alert warning for unregistered users.<br>
        <br><br>
        <h6>v0.8</h6>
        - Added login functionalities for select users. <br>
        - Added beta alert warning on main application page <br>
        - Added RSC conditions for Canadian airports on main application page.<br>
        - Known bug: hitting the Enter key multiple times will make multiple request and append data multiple times.<br>
        <br><br>
        <h6>v0.7</h6>
        - Initial beta release on <a href="https://www.heroku.com" target="_blank">Heroku.com</a> <br>
        - Features available: Airports and runway databse, wind and CRFI calculations, runway data tooltips, wind selection. <br>
        <br><br><br><br><br>
        This app wouldn't have been possible without my friend Karel Blaskovic's Windsock program by which it has been inspired.
        <br><br>
        To report a bug or for any inquiries, please feel free to reach me at <a href="mailto:admin@xwind.app">admin@xwind.app</a>

        <!-- <br><br>
        <p>Xwind is there to help make your operation smarter. Xwind is a free online weather and NOTAMs provider.<br>
        Crosswind calculation,weather highlighting,  CRFI limitations, and NOTAMs filtering and ranking are there to help you operate smarter and safer.</p>-->
        <br><br>
        <br><br><br><br><br><br><br><br>

    </div>
</div>
</div>

{% endblock %}