{% extends "layout.html" %}
{% set active_page = "about" %}

{% block title %}
 :about
{% endblock %}

{% block main %}

<div class="row">
    <div class="col-12" id="about">
        <br><br>
        <h6>v0.7</h6>
        - Initial beta release on <a href="https://www.heroku.com" target="_blank">Heroku.com</a> <br>
        - Features available: Wind and CRFI calculations, runway data tooltips, wind cycling when pressing "Next" or "Previous" <br>
        - Known bugs: 
        <br><br><br><br>

        <!-- <br><br>
        <p>Xwind is there to help make your operation smarter. Xwind is a free online weather and NOTAMs provider.<br>
        Crosswind calculation,weather highlighting,  CRFI limitations, and NOTAMs filtering and ranking are there to help you operate smarter and safer.</p>-->
        <br><br>
        <br><br><br><br><br><br><br><br>

    </div>
</div>

{% endblock %}