{% extends "layout.html" %}
{% set active_page = "about" %}

{% block title %}
    about
{% endblock %}

{% block main %}

<div class="row">
    <div class="col-12" id="about">
        <br><br> TODO
        <!-- <br><br>
        Xwind is a mobile-first web application developed with the purpose of providing free,
        accurate and easy-to-use data to airline operations professionals, whether they are pilots,
        dispatchers, support staff, work in a small regional airline, a national carrier or any other
        sized operator in between.
        <br><br>

        While Xwind aim to be as accurate as possible, errors are human and there are no guarantees that the
        information provided here is 100% error-free. Xwind is also at the mercy of the multiple data providers it collects
        data from and therefore, Xwind and its author shall not be held responsible for any damages or
        inconvenience the application would have caused. Please keep using common sense especially if
        making operational decisions based on data or information provided by Xwind.
        <br><br>

        As of this moment, one weather or notam request made here is equivalent to one request made on NavCanada’s
        CFPS website, ADDS, or any other providers used by Xwind. The goal is to not overload these servers and risk being blocked or
        banned from these services. Features are thus limited compared to waht could be possibly achieved in the future.
        <br><br>

        For feedback or enquiries, please email me at xxxx@xwind.xxx<br><br> -->
        <br><br>
        <br><br><br><br><br><br><br><br>

    </div>
</div>

{% endblock %}