{% extends "layout.html" %}

{% block title %}
    index
{% endblock %}

{% block main %}
<div class="row">
    <div class="col-12 mt-4">
        <form action="/" method="post" id="stationform">
            <input class="form-control form-control-lg" autocomplete="off" autofocus type="text" name="station" type="text" placeholder="ex: Montreal, YMX, CYQB" id="station">
            <div class="h6 sm-indication mt-1 ml-1">Enter airport code or name</div>
        </form>
    </div>
    <!--
    <div class="col-12 col-md-4 mt-4">

    </div>
    -->
</div>

<div class="row">

        <div class="mt-6 col-12 d-flex justify-content-center remove" id="loading">
                <div class="spinner-grow text-primary" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
        </div>

    <div class="col-12 col-md-8 mt-4">

        <p class ="text-center" id="airportname"></p>

        <table class="table table-bordered shadow-sm hidden" id="time_dir_str">
            <thead>
                <tr>
                    <th class = "fix-broken-table1 hidden" id="wxtypeandtime"><span id="wx_type"></span> <span id="wx_time"></span></td>
                    <th class = "fix-broken-table2 tbcontentedit" contenteditable="true" id="w-direction" onkeypress="return testCharacter(event);">{{ wind_dir | first }}</td>
                    <th class = "fix-broken-table2 tbcontentedit" contenteditable="true" id="w-strength" onkeypress="return testCharacter(event);">{{ wind_str | first }}</td>
                </tr>
            </thead>
        </table>
        <div class="container">
            <div class="row">
                <div class="col-12 mt mb-3 centered">
                    <button type="button" class="btn btn-outline-secondary btn-sm mr-4 hidden" id="previous">Previous</button>
                    <button type="button" class="btn btn-outline-secondary btn-sm ml-4 hidden" id="next">Next</button>
                </div>
            </div>
            <div class="row hidden" id="table-header">

                <div class="fix-broken-table1 h6 table-explan">
                    Runway
                </div>
                <div class="fix-broken-table2 h6 table-explan">
                    Head (+) /tailwind (-)
                </div>
                <div class="fix-broken-table2 h6 table-explan">
                    Crosswind
                </div>
                <div class="fix-broken-table2 h6 table-explan">
                    Min CRFI
                </div>

            </div>
        </div>

        <table class="table table-sm table-bordered">
            <tbody id="rwy_table">
            </tbody>
        </table>
    </div>
    <div class="col-12 col-md-4 mt-4 fira h6 formatting" id="wx">
        <p class = "formatting" id="metar"></p><br>
        <ul class = "formatting" id="taf"></ul>
    </div>

</div>
<script>
    // Prevent "station" input field default action
    $('#stationform').submit(function (e) {
        e.preventDefault();
        return false;
    });

    // Only allow numbers in contenteditable table
    function testCharacter(event) {
      if ((event.keyCode >= 48 && event.keyCode <= 57 )) {
        return true;
      } else {
        return false;
      }
    }


    // Prevent inputting more than 3 characters
    $('#w-direction').on("keypress", function (e) {
        if (this.innerHTML.length >= 3) {
            e.preventDefault();
            return false;
        }
    });

    // Prevent inputting more than 3 characters
    $('#w-strength').on("keypress", function (e) {
        if (this.innerHTML.length >= 3) {
            e.preventDefault();
            return false;
        }
    });

    // Async call for all result
    $('#stationform').submit(function() {
        document.getElementById("loading").classList.add("seen");
        document.getElementById("loading").classList.remove("remove");
        document.getElementById("time_dir_str").classList.add("hidden");
        document.getElementById("time_dir_str").classList.remove("seen");
        document.getElementById("table-header").classList.add("hidden");
        document.getElementById("table-header").classList.remove("seen");
        document.getElementById("previous").classList.add("hidden");
        document.getElementById("previous").classList.remove("seen");
        document.getElementById("next").classList.add("hidden");
        document.getElementById("next").classList.remove("seen");
        wxtypeandtime.classList.add("hidden");
        wxtypeandtime.classList.remove("seen");
        $("#rwy_table").empty();
        $("#taf").empty();
        $("#metar").empty();
        $("w-direction").empty();
        $("w-strength").empty();
        $("#airportname").empty();
        $.post('/?station=' + station.value, function(result) {
            console.log(result);
            document.getElementById("airportname").innerHTML = (result[2] + " - " + result[3]);
            document.getElementById("metar").innerHTML = result[0];

            var taf = result[1];
            taf.forEach(function(item){
                $("#taf").append("<li>" + item + "</li>");
            });

            // Add runways to HTML pages once a station is entered
            var rwy_list = result[4];
            $.each(rwy_list,function(key,value){
                $.each(value, function(key2, value2) {
                    $("#rwy_table").append(
                    "<tr>" +
                    "<td class='fix-broken-table1'>" + value2 + "</td>" +
                    "<td class='fix-broken-table2'id='headtailwind'></td>" +
                    "<td class='fix-broken-table2'id='crosswind'></td>" +
                    "<td class='fix-broken-table2'id='CRFI'></td>");
                });
            });

            // Add wind direction to the appropriate field
            var wind_dir = document.getElementById("w-direction");
            var counter = 0;
            wind_dir.innerHTML = result[6][counter].padStart(3, '0');
            $('#next').click(function() {
                if (counter < (result[6].length - 1)) {
                counter++;
                $('#w-direction').empty();
                $('#w-direction').html(result[6][counter].padStart(3, '0'));
                }
            });
            $('#previous').click(function() {
                if(counter>0){
                counter--;
                $('#w-direction').empty();
                $('#w-direction').html(result[6][counter].padStart(3, '0'));
                }
            });

            // Add wind strength to the appropriate field
            var wind_str = document.getElementById("w-strength");
            /* wind_str.innerHTML = (result[0] + ' kt'); <-- If I want to add kt at the end.
                                                           (But what if user manually change winds?)*/
            var counter2 = 0;
            wind_str.innerHTML = result[7][counter2];
            $('#next').click(function() {
                if (counter2 < (result[7].length - 1)) {
                counter2++;
                $('#w-strength').empty();
                $('#w-strength').html(result[7][counter2]);
                }
            });
            $('#previous').click(function() {
                if(counter2>0){
                counter2--;
                $('#w-strength').empty();
                $('#w-strength').html(result[7][counter2]);
                }
            });

            // Add wx_time to wx_dir_str div
            var wx_time = document.getElementById("wx_time");
            document.getElementById("time_dir_str").classList.add("seen");
            document.getElementById("time_dir_str").classList.remove("hidden");
            document.getElementById("table-header").classList.add("seen");
            document.getElementById("table-header").classList.remove("hidden");
            document.getElementById("previous").classList.add("seen");
            document.getElementById("previous").classList.remove("hidden");
            document.getElementById("next").classList.add("seen");
            document.getElementById("next").classList.remove("hidden");
            var counter4 = 0;
            wx_time.innerHTML = result[8][counter4];
            $('#next').click(function() {
                if (counter4 < (result[8].length - 1)) {
                counter4++;
                $('#wx_time').empty();
                $('#wx_time').html(result[8][counter4]);
                }
            });
            $('#previous').click(function() {
                if(counter4>0){
                counter4--;
                $('#wx_time').empty();
                $('#wx_time').html(result[8][counter4]);
                }
            });

            // Add wx_type to wx_dir_str div
            var wx_type = document.getElementById("wx_type");
            wxtypeandtime.classList.add("seen");
            wxtypeandtime.classList.remove("hidden");
            var counter3 = 0;
            wx_type.innerHTML = result[9][counter3];
            $('#next').click(function() {
                if (counter3 < (result[9].length - 1)) {
                counter3++;
                $('#wx_type').empty();
                $('#wx_type').html(result[9][counter3]);
                }
            });
            $('#previous').click(function() {
                if(counter3>0){
                counter3--;
                $('#wx_type').empty();
                $('#wx_type').html(result[9][counter3]);
                }
            });

            // Async call to get a list of heading in SAME ORDER as runway_list
            console.log(result[5]);
            var headings_list = [];
            $.each(result[5], function(key, value){
                $.each(value, function(key2, value2) {
                    headings_list.push(value2);
                });
            });
            console.log(headings_list);


            document.getElementById("loading").classList.add("remove");
            document.getElementById("loading").classList.remove("seen");

        });

    });


</script>
{% endblock %}