{% extends "layout.html" %}
{% set active_page = "index" %}

{% block title %}
    application
{% endblock %}

{% block main %}
<div class="row">
    <div class="col-12 mt-4">
        <form action="/" method="post" id="stationform">
            <input class="form-control form-control-lg" autocomplete="off" autofocus type="text" name="station" type="text" placeholder="ex: Montreal, YMX, CYQB" id="station">
            <div class="h6 sm-indication mt-1 ml-1">Enter airport code or name</div>
        </form>
    </div>
    <!--
    <div class="col-12 col-md-4 mt-4">

    </div>
    -->
</div>

<div class="row">

        <div class="mt-6 col-12 d-flex justify-content-center remove" id="loading">
                <div class="spinner-grow text-primary" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
        </div>

    <div class="col-12 col-md-8 mt-4">

        <p class ="text-center" id="airportname"></p>

        <table class="table table-bordered shadow-sm hidden" id="time_dir_str">
            <thead>
                <tr>
                    <th class = "fix-broken-table1 hidden" id="wxtypeandtime"><span id="wx_type"></span> <span id="wx_time"></span></td>
                    <th class = "fix-broken-table2 tbcontentedit" data-ph="Wind direction" contenteditable="true" type="number" id="w-direction" onkeypress="return testCharacter(event);">{{ wind_dir | first }}</td>
                    <th class = "fix-broken-table2 tbcontentedit" data-ph="Wind speed" contenteditable="true" type="number" id="w-strength" onkeypress="return testCharacter(event);">{{ wind_str | first }}</td>
                </tr>
            </thead>
        </table>
        <div class="container">
            <div class="row">
                <div class="col-12 mt mb-3 centered">
                    <button type="button" class="btn btn-outline-dark btn-sm mr-4 hidden" id="previous">Previous</button>
                    <button type="button" class="btn btn-outline-dark btn-sm ml-4 hidden" id="next">Next</button>
                </div>
            </div>
            <div class="row hidden" id="table-header">

                <div class="fix-broken-table1 h6 table-explan">
                    Runway
                </div>
                <div class="fix-broken-table2 h6 table-explan">
                    Head (+) / tailwind (-)
                </div>
                <div class="fix-broken-table2 h6 table-explan">
                    Crosswind
                </div>
                <div class="fix-broken-table2 h6 table-explan" data-toggle="modal" data-target="#crosswindchart">
                    <a href="#" id="crfi_link">Min CRFI (crosswind)</a>
                </div>

            </div>
        </div>

        <table class="table table-sm table-bordered">
            <tbody id="rwy_table">
            </tbody>
        </table>
    </div>
    <div class="col-12 col-md-4 mt-4 fira-font h6 formatting" id="wx">
        <p class = "formatting" id="metar"></p><br>
        <ul class = "formatting" id="taf"></ul>
    </div>

</div>

<div class="modal 8 fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="crosswind_chart" aria-hidden="true" id="crosswindchart">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">CFS Crosswind chart</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
            </div>
            <div class="modal-body">
                    <img src="../static/media/crosswind_chart.png" id="chart-img">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


<script src="../static/js/index_script.js" type="application/javascript"></script>
{% endblock %}