{% extends "layout.html" %}

{% block title %}
    index
{% endblock %}

{% block main %}
<div class="row">
    <div class="col-12 mt-4">
        <form action="/" method="post" id="stationform">
            <input class="form-control form-control-lg" autocomplete="off" autofocus type="text" name="station" type="text" placeholder="ex: Montreal, YMX, CYQB" id="station">
            <div class="h6 sm-indication mt-1 ml-1">Enter airport code or name</div>
        </form>
    </div>
    <!--
    <div class="col-12 col-md-4 mt-4">

    </div>
    -->
</div>

<div class="row">
    <div class="col-12 col-md-8 mt-4">

        <p class ="text-center" id="airportname"></p>

        <table class="table table-bordered shadow-sm hidden" id="time_dir_str">
            <thead>
                <tr>
                    <th class = "fix-broken-table1 hidden" id="wxtypeandtime"><span id="wx_type"></span> <span id="wx_time"></span></td>
                    <th class = "fix-broken-table2" contenteditable="true" id="w-direction" onkeypress="return testCharacter(event);">{{ wind_dir | first }}</td>
                    <th class = "fix-broken-table2" contenteditable="true" id="w-strength" onkeypress="return testCharacter(event);">{{ wind_str | first }}</td>
                </tr>
            </thead>
        </table>
        <div class="container">
            <div class="row">
                <div class="col-12 mt mb-3 centered">
                    {% if rwy_list  %}
                    <button type="button" class="btn btn-outline-secondary btn-sm mr-4" id="Previous">Previous</button>
                    <button type="button" class="btn btn-outline-secondary btn-sm ml-4" id="Next">Next</button>
                    {% endif %}
                </div>
            </div>
            <div class="row hidden" id="table-header">

                <div class="fix-broken-table1 h6 table-explan">
                    Runway
                </div>
                <div class="fix-broken-table2 h6 table-explan">
                    Head (+) /tailwind (-)
                </div>
                <div class="fix-broken-table2 h6 table-explan">
                    Crosswind
                </div>
                <div class="fix-broken-table2 h6 table-explan">
                    Min CRFI
                </div>

            </div>
        </div>
        <table class="table table-sm table-bordered">
            <tbody id="rwy_table">

            </tbody>
        </table>
    </div>
    <div class="col-12 col-md-4 mt-4 fira h6 formatting" id="wx">
        <p class = "formatting" id="metar"></p><br>
        <ul class = "formatting" id="taf"></ul>
    </div>

</div>
<script>
    // Prevent input field to be submitted
    $('#stationform').submit(function (e) {
        e.preventDefault();
        return false;
    });

    // Only numbers allowed in contenteditable table
    function testCharacter(event) {
      if ((event.keyCode >= 48 && event.keyCode <= 57 )) {
        return true;
      } else {
        return false;
      }
    }

    // Prevent linebreaks in contenteditable table
    $('#w-direction').on("keypress paste", function (e) {
        if (this.innerHTML.length >= 3) {
            e.preventDefault();
            return false;
        }
    });

    $('#w-strength').on("keypress paste", function (e) {
        if (this.innerHTML.length >= 3) {
            e.preventDefault();
            return false;
        }
    });

    // Kept just in case, prob won't go this way
    //$('#stationform').submit(function() {
    //    $.ajax({
    //        async: true,
    //        url: "/?station=" + station.value,
    //        type: "POST",
    //        dataType: "json",
    //        context: document.body,
    //        success: function(data) {
    //            $("html").empty().append(data);
    //       }
    //    })
    //});

    $('#stationform').submit(function() {
        $.post('/get_wind_dir?station=' + station.value, function(data) {
            if (data == true) {
                document.getElementById("w-direction").innerHTML = data[0];

            } else if (data == false) {
                "TODO";
            }
        });
    });

    $('#stationform').submit(function() {
        $.post('/get_wind_str?station=' + station.value, function(data) {
            if (data == true) {
                document.getElementById("w-strength").innerHTML = data;
                console.log(data);
            } else if (data == false) {
                "TODO";
            }
        });
    });

    // Add wx_time to wx_dir_str div
    $('#stationform').submit(function() {
        $.post('/get_wx_times?station=' + station.value, function(data) {
            var wx_time = document.getElementById("wx_time")
            console.log(data);
            wx_time.innerHTML = data[0];
            document.getElementById("time_dir_str").classList.add("seen");
            document.getElementById("time_dir_str").classList.remove("hidden")
            document.getElementById("table-header").classList.add("seen");
            document.getElementById("table-header").classList.remove("hidden")
        });
    });

    // Add wx_type to wx_dir_str div
    $('#stationform').submit(function() {
        $.post('/get_wx_types?station=' + station.value, function(data) {
            var wx_type = document.getElementById("wx_type")
            console.log(data);
            wx_type.innerHTML = data[0];
            wxtypeandtime.classList.add("seen");
            wxtypeandtime.classList.remove("hidden");

        });
    });

    $('#stationform').submit(function() {
        $.post('/get_rwy_list?station=' + station.value, function(data) {
            $("#rwy_table").empty()
            var rwy_list = data;

            $.each(rwy_list,function(key,value){
                $.each(value, function(key2, value2) {
                    console.log(value)
                    $("#rwy_table").append(
                    "<tr>" +
                    "<td class='fix-broken-table1'>" + value2 + "</td>" +
                    "<td class='fix-broken-table2'></td>" +
                    "<td class='fix-broken-table2'></td>" +
                    "<td class='fix-broken-table2'></td>");
                });
            });
        });
    });


    // Async call for metar, taf, name, and ident
    $('#stationform').submit(function() {
        $.post('/?station=' + station.value, function(data) {
            document.getElementById("airportname").innerHTML = (data[2] + " - " + data[3]);
            document.getElementById("metar").innerHTML = data[0];

            var taf = data[1];
            $("#taf").empty()
            taf.forEach(function(item){
                $("#taf").append("<li>" + item + "</li>");

            });

        });
    });

</script>
{% endblock %}