<!DOCTYPE html>

<html lang="en">

    <head>
        <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-TBXFQP3BMZ"></script>
        <script>window.dataLayer = window.dataLayer || [];function gtag(){dataLayer.push(arguments);}gtag('js', new Date());gtag('config', 'G-TBXFQP3BMZ');</script>

        <!-- Google Tag Manager -->
        <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-TXB7L33');</script>
        <!-- End Google Tag Manager --> 

        <meta charset="utf-8">

        <link rel="apple-touch-icon" sizes="152x152" href="../static/media/favicon/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="../static/media/favicon/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="../static/media/favicon/favicon-16x16.png">
        <link rel="manifest" href="../static/media/favicon/site.webmanifest">
        <link rel="mask-icon" href="../static/media/favicon/safari-pinned-tab.svg" color="#5bbad5">
        <meta name="msapplication-TileColor" content="#da532c">
        <meta name="theme-color" content="#ffffff">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="/static/favicon.ico" rel="icon">

        <link href="https://fonts.googleapis.com/css?family=Asap|Fira+Code&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="../static/css/bootstrap.min.css">
        <link href="../static/css/style.css" rel="stylesheet">
        
        <script src="../static/js/jquery-3.4.1.min.js" type="application/javascript"></script>
        <script src="../static/js/popper.min.js" type="application/javascript"></script>
        <script src="../static/js/bootstrap.min.js" type="application/javascript"></script>

        <title>Xwind{% block title %}{% endblock %}</title>

        <meta name="description" content="Xwind is there to help make your operation smarter. Xwind is a free online weather and NOTAMs provider. 
        Crosswind calculation,weather highlighting,  CRFI limitations, and NOTAMs filtering and ranking are there to help you operate smarter and safer."/>

    </head>

    <body class="asap-font">
        <!-- Google Tag Manager (noscript) -->
        <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TXB7L33"
        height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
        <!-- End Google Tag Manager (noscript) -->
        <nav class="navbar navbar-expand-lg navbar-light bg-light shadow-sm">
            <div class="container">
                <a class="navbar-brand" href="/">
                    <img src="../static/media/logo.png" width="107" height="30" alt="">
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item {{ 'active' if active_page == 'index' else '' }} btn btn-sm btn-light mr-3">
                            <a class="nav-link" href="/">App</a>
                        </li>
                        <li class="nav-item {{ 'active' if active_page == 'about' else '' }} btn btn-sm btn-light mr-3">
                            <a class="nav-link" href="/about">About</a>
                        </li>
                        <li class="nav-item {{ 'active' if active_page == 'weather' else '' }} btn btn-sm btn-light mr-3 disabled" data-toggle="tooltip" data-placement="bottom" title="Coming soon">
                            <a class="nav-link " href="#" ="true">Weather</a>
                        </li>
                        <li class="nav-item {{ 'active' if active_page == 'notams' else '' }} btn btn-sm btn-light mr-3">
                            <a class="nav-link " href="/notams">Notams</a>
                        </li>
                        {% if session.user_id %}
                        <li class="nav-item {{ 'active' if active_page == 'airports' else '' }} btn btn-sm btn-light mr-3 disabled" data-toggle="tooltip" data-placement="bottom" title="Coming soon">
                            <a class="nav-link" href="#">Airports</a>
                        </li>
                        {% endif %}
                    </ul>
                    {% if not session.user_id %}
                    <ul class="navbar-nav">
                        <li class="nav-item btn btn-sm btn-light mr-3">
                            <a class="nav-link" href="/login">Login</a>
                        </li>
                    </ul>
                    
                    <ul class="navbar-nav">
                        <li class="nav-item {{ 'active' if active_page == 'register' else '' }} btn btn-sm btn-light mr-3">
                            <a class="nav-link" href="/register">Register</a>
                        </li>
                    </ul>
                    
                    {% endif %}
                    {% if session.user_id %}
                    <ul class="navbar-nav">
                        <li class="nav-item btn btn-sm btn-light mr-3">
                            <a class="nav-link" href="/logout">Logout</a>
                        </li>
                    </ul>
                    {% endif %}
                </div>
            </div>
        </nav>

        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }} alert-dismissible fade show centered" role="alert">
                        <span>{{ message }}</span>
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
        <main>
            {% block main %}{% endblock %}

            <button id="backtotop" title="Go to top">^</button>
        </main>

        <footer>
            <div class="container">
                <div class="row ">
                    <div class="col" id="footer">
                        <!-- &copy; 2010<script>new Date().getFullYear()>2019&&document.write("-"+new Date().getFullYear());</script>, Company. -->
                    </div>
                </div>
            </div>
        </footer>
        <script src="../static/js/layout_script.js" type="application/javascript"></script>



    </body>
</html