{% extends "layout.html" %}
{% set active_page = "notams" %}

{% block title %}
{% endblock %}

{% block main %}
{% if not session.user_id %}
<!--<div class="alert alert-warning alert-dismissible fade show centered" role="alert">
        <span><strong>Warning!</strong> Still in beta stage. Use at your own risk.</span>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
        </button>
    </div>-->
{% endif %}
<div class="container">
    <div class="row">
        <div class="col-12 mt-4">
            <form action="/notams" method="post" id="stationform">
                <input class="form-control form-control-lg" autocomplete="off" autofocus type="text" name="station" type="text" placeholder="ex: YMX JFK EGLL etc" id="station">
                <div class="h6 sm-indication mt-1 ml-1">Request NOTAMs by entering a ICAO or IATA code separated by a <strong>space</strong>. <br><em>USA and International airports currently available for beta testing.</em></div>
            </form>
        </div>
            <!--
            <button class="btn btn-sm btn-secondary" type="button" data-toggle="collapse" data-target="#collapseOptions" aria-expanded="false" aria-controls="collapseOptions">
              Options
            </button>
            -->
    </div>
    <!--
    <div class="collapse" id="collapseOptions">
        <div class="card card-body">
            <p>Insert options here</p>
            <ul>
                <li>Option 1</li>
                <li>Option 2</li>
                <li>Option 3</li>
                <li>Option 4</li>
            </ul>
        </div>
    </div>
    -->

    <div class="row" id="content">

            <!-- loading spinner, enabled and disabled by javascript-->
            <div class="mt-6 col-12 d-flex justify-content-center remove" id="loading">
                    <div class="spinner-grow text-primary" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
            </div>
            <div class="col-12" id="airport_name">

            </div>
            <div class="col-12" id="notam_container">

            </div>

<script src="../static/js/notams_script.js" type="application/javascript"></script>

{% endblock %}
